<!DOCTYPE html>
<html>

<head>
    <title>Smart Home Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
    <h1>Smart Home Database Dashboard</h1>

    <ul>
        <li><a href="/devices">View Devices</a></li>
        <li><a href="/users">View Users</a></li>
        <li><a href="/alerts">View Alerts</a></li>
        <li><a href="/devicelogs">View Device Logs</a></li>
        <li><a href="/devicepurchase">View Device Purchases</a></li>
        <li><a href="/devicesettings">View Device Settings</a></li>
        <li><a href="/energyusage">View Energy Usage</a></li>
        <li><a href="/maintenance">View Maintenance</a></li>
        <li><a href="/manufacturers">View Manufacturers</a></li>
        <li><a href="/rooms">View Rooms</a></li>
        <li><a href="/schedules">View Schedules</a></li>
    </ul>
</body>

</html>